{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="col-md-12">
            <div class="content-section">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">{{legend}}</legend>
                        <div class="form-group">
                            {{ form.Eventid.label(class="form-control-label") }}
                            {% if form.Eventid.errors %}
                               {{ form.Eventid (class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.Eventid.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.Eventid (class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.Category.label(class="form-control-label") }}
                            {% if form.Category.errors %}
                               {{ form.Category (class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.Category.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.Category (class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.Type.label(class="form-control-label") }}
                            {% if form.Type.errors %}
                               {{ form.Type (class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.Type.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.Type (class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.Value.label(class="form-control-label") }}
                            {% if form.Value.errors %}
                               {{ form.Value (class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.Value.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.Value (class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.Comment.label(class="form-control-label") }}
                            {% if form.Comment.errors %}
                               {{ form.Comment (class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.Comment.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.Comment (class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        {% if legend == 'Add Attribute' %}
                        <div class="form-check">
                            {{ form.send(class="form-check-input") }}
                            {{ form.send.label(class="form-check-label") }}
                        </div>
                        {% endif%}
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-info") }}
                        {% if legend == 'Update Att' %}
                        <a class="btn btn-danger" data-toggle="modal" data-target="#delete{{form.update_att_id.data}}Modal" href="#"> Delete</a>
                        {% endif%}
                    </div>
                </form>
                <script type="text/javascript">
                    let Category_select = document.getElementById('Category');
                    let Type_select = document.getElementById('Type');
                    Category_select.onchange = function(){
                        Category = Category_select.value;
                        fetch('/getAttributes/' + Category).then(function(response){
                            response.json().then(function(data){
                                let optionHTML = '';
                                for (let attribut of data.Attributes) {
                                     optionHTML += '<option value="' + attribut + '">' + attribut + '</option>';

                                }
                                Type_select.innerHTML = optionHTML;

                            });
                        });  
                    }
 
                </script>
            </div>
        </div>
    </div>
            {% if legend == 'Update Att' %}
            <div class="modal fade" id="delete{{form.update_att_id.data}}Modal" tabindex="-1" role="dialog" aria-labelledby="ddelete{{form.update_att_id.data}}ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="delete{{form.update_att_id.data}}ModalLabel">Delete Att?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <form action="{{ url_for('delete_att', att_id=form.update_att_id.data) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                  </form>
                </div>
              </div>
            </div>
            </div>
            {% endif%}

{% endblock content %}